@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color-one: hsl(5, 85%, 63%);
    --primary-color-second: hsl(35, 77%, 62%);
    --neutral-color-bgc: hsl(36, 100%, 99%);
    --neutral-color-font: hsl(240, 100%, 5%);
    --neutral-color-secondary: hsl(236, 13%, 42%);
    --neutral-color-font-dark-mode: hsl(233, 8%, 79%);
    font-family: 'Inter';
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--neutral-color-font);
}

.wrapper {
    padding: 3vh;
}

@media (min-width: 1024px) {
    .wrapper {
        width: 100%;
        max-width: 1260px;
        display: flex;
        flex-wrap: wrap;

    }
}